body {
  font-family: Arial;
  margin: 40px;
  background-color: #f4f4f4;
}

form {
  background: white;
  padding: 20px;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input, select, button {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
}

button {
  background: #2c3e50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #34495e;
}

#resultado {
  margin-top: 20px;
}